*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(250, 226, 185);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.nav-header{
}
.div-nav-div2-divheader-header{
    
}

.ul1{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
    
}
.li1{
    padding-left: 30px;
    padding-right: 30px;
}
.bordur-separation{

}
.li2{
    
}
a{
    text-decoration: none;
    color: black;
    
}
a:hover{
    color: brown;
}

@media screen and (min-width: 500px) {
    .div-header{
        display: flex;
        justify-content: space-between;
        
    }
    .div2-header{
        display: flex;
        justify-content: space-between;
    }
}