*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(250, 226, 185);
}


.div-header{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    font-weight: bold;
    
}



@media  screen and (max-width: 500px) {
    .div-nav-div2-divheader-header{
        display: none;
    }
}